<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionCsvParserImpl" class="org.zav.dao.QuestionCsvParserImpl">
        <constructor-arg name="source" value="/questions.csv"/>
    </bean>
    <bean id="answerCsvParserImpl" class="org.zav.dao.AnswerCsvParserImpl">
        <constructor-arg name="source" value="/answers.csv"/>
    </bean>
    <bean id="screenLayoutServiceImpl" class="org.zav.service.ScreenLayoutServiceImpl">
        <constructor-arg name="questionRepository" ref="questionCsvParserImpl"/>
        <constructor-arg name="answerRepository" ref="answerCsvParserImpl"/>
    </bean>

</beans>