<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit genre</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Genre edition -->
<form id="genre-edit-form" action="genre_edit.html"  th:action="@{/genre/edit(id=${genre.id})}" th:method="post" th:object="${genre}">
    <h3>Genre Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1" th:value="${genre.id}"/>
    </div>

    <div class="row">
        <label for="genre-description-input">Description:</label>
        <input id="genre-description-input" name="description" type="text" value="Мистика_Dummy" th:value="${genre.description}"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a th:href="@{/genre/all}" href="genres_list.html"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>
